.cardContainer {
    background-image: radial-gradient(circle at 46.71% 12.43%, #ff74a3 0, #ff68b0 8.33%, #ff5bbd 16.67%, #ff4fcb 25%, #ff46d8 33.33%, #ff3fe5 41.67%, #f23cf2 50%, #d23ffe 58.33%, #aa47ff 66.67%, #7350ff 75%, #0059ff 83.33%, #0062ff 91.67%, #0068ff 100%);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px;
box-shadow: 9px 9px 0px 0px rgba(0, 0, 0, 0.3);
  }

.cardContainer:hover {
    transform: translateY(-5px);
}
  
.closeButton {
    align-self: flex-end;
    background-color: #fff;
    border: none;
    color: #f61010;
    font-size: 18px;
    cursor: pointer;
}
  
  
.cardInfo {
    font-size: 16px;
    margin-bottom: 8px;
}
  
.cardImage {
    margin-top: 10px;
    border-radius: 5px;
    object-fit: cover;
    width: 250px;
    height: 250px;
}
  